@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}


header{
    
    text-align: center;
    background-color: blue;
    padding: 30px;
    color: wheat;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
}

#search-btn{
    width: 400px;
    padding: 7px;
   
}

span #para img{
    margin-left: 5px;
}

